Data Cleaning With Pandas

In [ ]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv("/content/Airbnb_Open_Data.csv",on_bad_lines='skip')

In [ ]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

1. Initial understanding of the data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [ ]:
df.shape

(102599, 26)

In [ ]:
df.describe()

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

2. Correcting the Data Types

In [ ]:
#Checking the datatypes of all the columns
for i in df.columns:
  print("Column Name: ",i)
  print("Data Type: ", df[i].dtype)
  print()

Column Name:  id
Data Type:  int64

Column Name:  NAME
Data Type:  object

Column Name:  host id
Data Type:  int64

Column Name:  host_identity_verified
Data Type:  object

Column Name:  host name
Data Type:  object

Column Name:  neighbourhood group
Data Type:  object

Column Name:  neighbourhood
Data Type:  object

Column Name:  lat
Data Type:  float64

Column Name:  long
Data Type:  float64

Column Name:  country
Data Type:  object

Column Name:  country code
Data Type:  object

Column Name:  instant_bookable
Data Type:  object

Column Name:  cancellation_policy
Data Type:  object

Column Name:  room type
Data Type:  object

Column Name:  Construction year
Data Type:  float64

Column Name:  price
Data Type:  object

Column Name:  service fee
Data Type:  object

Column Name:  minimum nights
Data Type:  float64

Column Name:  number of reviews
Data Type:  float64

Column Name:  last review
Data Type:  object

Column Name:  reviews per month
Data Type:  float64

Column Name:  review rate number
Data Type:  float64

Column Name:  calculated host listings count
Data Type:  float64

Column Name:  availability 365
Data Type:  float64

Column Name:  house_rules
Data Type:  object

Column Name:  license
Data Type:  object

**Insights**:
>1. The price and service fee columns are currently in the object data type, we need to convert them into numeric data type.
>2. The last review column is in object datatype, it should be converted into datatime data type.

In [ ]:
#Removing the dollar sign from the service fee column
#Removing the dollar sign from the service fee column

df['service fee'] = df['service fee'].str.replace("[^0-9]", '', regex=True).str.strip()

In [ ]:
#Converting the service fee column to numeric datatype

df['service fee'] = pd.to_numeric(df['service fee'])

In [ ]:
print(df['service fee'].dtype)

float64

In [ ]:
#Removing the dollar sign from the price column

df['price'] = df['price'].str.replace("[^0-9]", '', regex=True).str.strip()

In [ ]:
#Converting the price column to numeric datatype

df['price'] = pd.to_numeric(df['price'])

In [ ]:
print(df['price'].dtype)

float64

In [ ]:
#Converting the last review column to datetime datatype

df['last review'] = pd.to_datetime(df['last review'])

In [ ]:
print(df['last review'].dtype)

datetime64[ns]

**Data Cleaning: Type Casting**:
> Converted both the service fee and price columns to numeric data type  
> Converted the last review column datatype to datetime

3. Handling the missing values

In [ ]:
#Checking for null values
df.isnull().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [ ]:
#Dropped the license column because it has almost 95 percent missing values and also it provides less information

df = df.drop(columns='license')

In [ ]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,966.0,193.0,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,142.0,28.0,30.0,45.0,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,620.0,124.0,3.0,0.0,NaT,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,368.0,74.0,30.0,270.0,2019-07-05,4.64,4.0,1.0,322.0,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,204.0,41.0,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."

In [ ]:
df['service fee'] = df['service fee'].fillna(df['service fee'].median)
df['price'] = df['price'].fillna(df['price'].median)

In [ ]:
df['reviews per month'] = df['reviews per month'].fillna(0)

In [ ]:
df.isnull().sum()

id                                    0
NAME                                250
host id                               0
host_identity_verified              289
host name                           406
neighbourhood group                  29
neighbourhood                        16
lat                                   8
long                                  8
country                             532
country code                        131
instant_bookable                    105
cancellation_policy                  76
room type                             0
Construction year                   214
price                                 0
service fee                           0
minimum nights                      409
number of reviews                   183
last review                       15893
reviews per month                     0
review rate number                  326
calculated host listings count      319
availability 365                    448
house_rules                       52131
dtype: int64

In [ ]:
df['last review'] = df['last review'].fillna('No Review')

In [ ]:
df.isnull().sum()

id                                    0
NAME                                250
host id                               0
host_identity_verified              289
host name                           406
neighbourhood group                  29
neighbourhood                        16
lat                                   8
long                                  8
country                             532
country code                        131
instant_bookable                    105
cancellation_policy                  76
room type                             0
Construction year                   214
price                                 0
service fee                           0
minimum nights                      409
number of reviews                   183
last review                           0
reviews per month                     0
review rate number                  326
calculated host listings count      319
availability 365                    448
house_rules                       52131
dtype: int64

In [ ]:
df.shape

(102599, 25)

In [ ]:
df['house_rules'] = df['house_rules'].fillna('Not Given')

In [ ]:
df = df.dropna()

In [ ]:
df.isnull().sum().sum()

np.int64(0)

**Data Cleaning**: **Handling Missing Values**:
> 1. Dropped the license column as it holds almost 99 percent missing values and it is also less informative.  
> 2. Replaced the missing values in both 'price' and 'service fee' columns with median of the respective columns.
> 3. Filled the missing values in the 'reviews per month' with (0).
> 4. Replaced the missing values in the 'last review' column with 'No Review'.
> 5. Replaced the missing values in the 'house_rules' column with 'Not Given'.

4. Standardizing the categorical and text data

In [ ]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules'],
      dtype='object')

In [ ]:
df = df.rename(columns={'NAME': 'name',
                         'host name': 'host_name',
                         'neighbourhood group': 'neighbourhood_group',
                         'country code': 'country_code',
                         'room type':'room_type',
                         'Construction year': 'construction year',
                         'service fee': 'service_fee',
                         'minimum nights': 'minimum_nights',
                         'number of reviews': 'number_of_reviews',
                         'last review': 'last_review',
                         'reviews per month': 'reviews_per_month',
                         'review rate number': 'review_rate_number',
                         'calculated host listings count': 'calculated_host_listings_count',
                         'availability 365': 'availability_365'})

In [ ]:
df.head()

,id,name,host id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,966.0,193.0,10.0,9.0,2021-10-19 00:00:00,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,142.0,28.0,30.0,45.0,2022-05-21 00:00:00,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,204.0,41.0,10.0,9.0,2018-11-19 00:00:00,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,577.0,115.0,3.0,74.0,2019-06-22 00:00:00,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs."
7,1005202,BlissArtsSpace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,1060.0,212.0,45.0,49.0,2017-10-05 00:00:00,0.40,5.0,1.0,219.0,House Guidelines for our BnB We are delighted ...

**Data Cleaning**: **Standardized Column Names**:
> Standardized the column names for all the columns

5. Dealing with duplicates and Removing them

In [ ]:
#Checking for duplicate values
df.duplicated().sum()

np.int64(523)

In [ ]:
#Dropping the duplicate values
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

np.int64(0)

**Data Cleaning Summary**:
> In this data Airbnb data cleaning, The following steps are sucessfully performed:
1. Loading and Understanding the basic details of the Airbnb dataset.
2. Correcting and converting the data types.
3. Handling the missing values, replacing, filling and removing the missing values.
4. Standardizing the column names.
5. Checking and Removing he outliers.

**Conclusion**:

Now this dataset is ready for further data analysis and machine learning tasks.This dataset has been thoroughly analyzed and cleaned.

Author: ***Naveen Kumar K***